<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventEase</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Baskerville:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="top-bar">
            <a href="#" class="logo">EventEase</a>
            <nav>
                <ul>
                    <li><a href="clublogin.html" class="btn club-login">Club Login</a></li>
                    <li><a href="../template/login.html" class="btn student-login">Student Login/Register</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="content">
            <h1 class="title">Welcome to EventEase</h1>
            <p class="subtitle">Your gateway to all the cool stuff happening around</p>
            <a href="event.html" class="btn go-to-events">Go to Events</a>
        </div>
    </main>
</body>
</html>
